<div class="flex-container">
  <div class = "row">
    <div class="main col-md-12">
    <h1>
      <i class="fas fa-users-cog"></i>
      <strong>ユーザー編集</strong>
      <i class="fas fa-users-cog"></i>
      </h1>
      <div class="card text" style="max-width":5rem>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <h4><%= f.label :image %>  <button type="button" class="btn btn-danger" style="width:40px">必須</button>
              <br>
              <%= f.file_field :image %>
              </h4>
            </div>

            <br>

            <div class="field">
              <h4><%= f.label :name %>  <button type="button" class="btn btn-danger" style="width:40px">必須</button>
              <br>
              <%= f.text_field :name %>
              </h4>
            </div>

            <br>

            <div class="field">
            <h4><%= f.label :history %>  <button type="button" class="btn btn-danger" style="width:40px">必須</button>
            <br>
                <%= f.text_field :history %>年
            </div>

            <br>

            <div class="field">
            <h4><%= f.label :area %>   <button type="button" class="btn btn-danger" style="width:40px">必須</button>
            <br>
                <%= f.text_field :area %>
            </div>

            <div class="field">
            <h4><%= f.label :gym %><br>
                <%= f.text_field :gym %>
            </div>

            <div class="field">
            <h4><%= f.label :goal %><br>
                <%= f.text_field :goal %>
            </div>

            <div class="field">
            <h4><%= f.label :email %><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <h4><div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
            <h4><%= f.label :password %><br />
                <%= f.password_field :password, class: "form-control", placeholder:"(変更しない場合は空白のままにしてください)", autocomplete: "new-password" %>
            </div>

            <div class="field">
            <h4><%= f.label :password_confirmation %>
              <br>
                <%= f.password_field :password_confirmation, class: "form-control", placeholder:"(パスワードは6文字以上です。)",  autocomplete: "new-password" %>
            </div>

            <div class="field">
            <h4><%= f.label :current_password %>
              <%= f.password_field :current_password, class: "form-control", placeholder:"(変更を行うには現在のパスワードが必要です)",  autocomplete: "current-password" %>
            </div>

            <div class="actions">
            <h4><%= f.submit "更新する",class:'btn btn-warning rounded-pill btn-lg my-1 px-5' %>
            </div>
          <% end %>
            <h3><strong>アカウントを削除する<strong></h3>
            <h4><%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class:'btn btn-danger rounded-pill btn-lg my-1 px-5' %>
        </div>
      </div>
    </div>
</div>
