<div class="flex-container">
  <div class = "row">
    <div class="main_left col-md-3">
      <h1>ユーザー情報</h1>
        <div class="card" style="max-width":5rem>
          <div class="card-body">
          <h4>アイコン : <%= image_tag @user.image.url,class: "small-img" %></h4>

          <% if @user.trainer == true %>
            <h4>
            <strong>trainer</strong>
            </h4>
          <% else %>
            <h4>
            <storng>trainee</strong>
            </h4>
          <% end %>

            <h4>
            <strong>名前:</strong>
            <%= @user.name %>
            </h4>

            <h4>
            <strong>筋トレ歴:</strong>
            <%= @user.history %>年
            </h4>

            <h4>
            <strong>地域:</strong>
            <%= @user.area %>
            </h4>

            <h4>
            <strong>通ってるジム:</strong>
            <%= @user.gym %>
            </h4>

            <h4>
            <strong>目標:</strong>
            <%= @user.goal %>
            </h4>

           <% if @user.id == current_user.id %>
           <% else %>
             <% if @isRoom == true %>
               <h4><a href="/rooms/<%= @roomId %>">チャットへ</a>
             <% else %>
               <%= form_for @room do |f| %>
                 <%= fields_for @entry do |e| %>
                   <%= e.hidden_field :user_id, :value=> @user.id %>
                 <% end %>
                   <h4><%= f.submit "チャットを始める" %>
               <% end %>
             <% end %>
           <% end %>
        </div>
      </div>
    </div>

    <div class="main_center col-md-2">
      <h1>お気に入り一覧</h1>
        <div class="card" style="max-width":5rem>
          <div class="card-body">
            <% @user.favorites.each do |favorite| %>
              <br>
            <h3><%= favorite.post.title %></h3>
            <% end %>
          </div>
        </div>
    </div>

    <div class="main_right col-md-7">
      <h1>評価一覧</h1>
        <div class="card" style="max-width":5rem>
          <div class="card-body">
            <% if @user.id == current_user.id %>
            <% else %>
              <div id="review_area">
                <%= render partial: 'reviews/index', locals: { reviews: @reviews, user: @user } %>
              </div>
                <%= render partial: 'reviews/form', locals: { review: @review, user: @user } %>
            <% end %>
            <div id="edit_area">
              <%= render partial: 'reviews/edit_form', locals: { review: @review, user: @user } %>
            </div>
          </div>
        </div>
    </div>