<div class="flex-container">
  <div class="row">
    <div class="main col-md-12">
      <div class="card" style="max-width":5rem>
        <div class="card-body">
          <% if @post.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <h5><%= message %></h5>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_with(model:@post,local:true) do |f| %>
            <div class="field">
              <h2><%= f.label :title %>  <button type="button" class="btn btn-danger" style="width:50px">必須</button></h2>
              <%= f.text_field :title, class: "form-control", placeholder:"(例)" %>
            </div>
            <br>
            <div class="field">
              <h2><%= f.label :start_reason %></h2>
              <%= f.text_field :start_reason, class: "form-control", placeholder:"(例)" %>
            </div>
            <br>
            <div class="field">
              <h2><%= f.label :purpose %>  <button type="button" class="btn btn-danger" style="width:50px">必須</button></h2>
              <%= f.text_field :purpose, class: "form-control", placeholder:"(例)" %>
            </div>
            <br>
            <div class="field">
              <h2><%= f.label :current_status %>  <button type="button" class="btn btn-danger" style="width:50px">必須</button></h2>
              <%= f.text_field :current_status, class: "form-control", placeholder:"(例)" %>
            </div>
            <br>
            <div class="field">
              <h2><%= f.label :target %>  <button type="button" class="btn btn-danger" style="width:50px">必須</button></h2>
              <%= f.text_field :target, class: "form-control", placeholder:"(例)" %>
            </div>
            <br>
            <div class="field">
              <h2><%= f.label :like_points %></h2>
              <%= f.text_field :like_points, class: "form-control", placeholder:"(例)" %>
            </div>
            <br>
            <div class="field">
              <h2><%= f.label :tag_list %></h2>
              <%= f.text_field :tag_list,value: @post.tag_list.join(','),class: "form-control" %>
            </div>

              <h2><%= f.submit class:'btn btn-success rounded-pill btn-lg my-1 mb-5 px-5' %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>