<div class="flex-container">
  <div class="row">
    <div class = "form">
    <%= form_with(model:@post,local:true) do |f| %>
      <div class="field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
       </div>
       <div class="field">
        <%= f.label :start_reason %><br/>
        <%= f.text_field :start_reason %>
       </div>
       <div class="field">
        <%= f.label :purpose %><br/>
        <%= f.text_field :purpose %>
       </div>
       <div class="field">
        <%= f.label :current_status %><br/>
        <%= f.text_field :current_status %>
       </div>
       <div class="field">
        <%= f.label :target %><br/>
        <%= f.text_field :target %>
       </div>
       <div class="field">
        <%= f.label :like_points %><br/>
        <%= f.text_field :like_points %>
       </div>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>

