<div class="flex-container">
  <div class = "row">
    <div class="main_left col-md-6">
      <h1>
      <i class="fas fa-user-graduate"></i>
      <strong>トレーナー</strong>
      <i class="fas fa-user-graduate"></i>
      </h1>
      <% @posts.each do |post| %>
        <% if post.user.trainer == true %>
          <div class="card" style="max-width":5rem>
            <div class="card-body">
              <h2>
                <strong>名前:</strong>
                <%= post.user.name %>
              </h2>
              <h2>
                <strong>トレーナー</strong>
                <i class="fas fa-user-graduate"></i>
              </h2>
              <h2>
                <%= image_tag post.user.image.url,class: "small-img" %></h2>
              </h2>
              <h2>
                <strong>タイトル:</strong>
                <%= post.title %>
              </h2>
              <h2>
              <strong>地域:</strong>
              <%= post.user.area %>
              </h2>
              <h2>
                <strong>タグ:</strong>
                <%= render 'posts/tag_list', tag_list: post.tag_list %>
              </h2>
              <h2>
                <%= link_to '投稿詳細',post_path(post.id), class:'btn btn-dark rounded-pill btn-lg my-1 px-5'%>
              </h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="main_right  col-md-6">
      <h1>
      <i class="fas fa-user-tie"></i>
      <strong>トレー二ー</strong>
      <i class="fas fa-user-tie"></i>
      </h1>
      <% @posts.each do |post| %>
        <% if post.user.trainee == true %>
          <div class="card" style="max-width":5rem>
            <div class="card-body">
              <h2>
                <strong>名前:</strong>
                <%= post.user.name %>
              </h2>
              <h2>
                <strong>トレー二ー</strong>
                <i class="fas fa-user-tie"></i>
              </h2>
              <h2>
                <%= image_tag post.user.image.url,class: "small-img" %></h2>
              </h2>
              <h2>
                <strong>タイトル:</strong>
                <%= post.title %>
              </h2>
              <h2>
              <strong>地域:</strong>
              <%= post.user.area %>
              </h2>
              <h2>
                <strong>タグ:</strong>
                <%= render 'posts/tag_list', tag_list: post.tag_list %>
              </h2>
              <h2>
                <%= link_to '投稿詳細',post_path(post.id), class:'btn btn-dark rounded-pill btn-lg my-1 px-5'%>
              </h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @posts -%>