<p>
<storng>アイコン:</strong>
<%= image_tag @user.image.url,class: "small-img" %></p>
</P>
<p>
<strong>name:</strong>
<%= @post.user.name %>
</p>
<P>
<strong>タイトル:</strong>
<%= @post.title %>
</P>
<P>
<strong>なぜ筋トレを始めたのか:</strong>
<%= @post.start_reason %>
</P>
<P>
<strong>どうなりたいか:</strong>
<%= @post.purpose %>
</P>
<P>
<strong>現状:</strong>
<%= @post.current_status %>
</P>
<P>
<strong>直近の目標:</strong>
<%= @post.target %>
</P>
<strong>好きな部位:</strong>
<%= @post.like_points %>
</P>

<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'アカウント情報',user_path(@user.id)%>

<% if @post.user_id == current_user.id %>
<br>
<%= link_to '編集',edit_post_path(@post.id)%>
<br>
<%= link_to "削除", post_path(@post.id),method: :delete %>
<br>
<% end %>
<br>
<%= link_to "戻る", posts_path %>