<%= form_with(model: [user, review]) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <h4><%= form.label :レビュー %></h4>
      <%= form.text_area :content %>
      <%= form.hidden_field "reviewer_id", value: current_user.id %>
  </div>

  <div class="actions">
  <h4><%= form.submit remote: true %></h4>
  </div>
<% end %>