<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="/">ACDI</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end ml-5" id="Navber">
	<ul class="navbar-nav justify-content-end ">
	<li class="nav-item active">
	  <% if user_signed_in? %>

	    <i class="fas fa-users fa-2x"></i>
	    <li class="nav-item">
		  <%= link_to 'ユーザー一覧', users_path, class: "nav-link" %>
		</li>

		<i class="fas fa-address-card fa-2x"></i>
		<li class="nav-item">
		  <%= link_to 'ユーザー詳細', user_path(id: current_user.id), class: "nav-link" %>
		</li>

		<i class="fas fa-mail-bulk fa-2x"></i>
		<li class="nav-item">
		  <%= link_to '投稿一覧', posts_path, class: "nav-link" %>
		</li>

		<i class="fas fa-paper-plane fa-2x"></i>
		<li class="nav-item">
		  <%= link_to '新規投稿', new_post_path, class: "nav-link" %>
		</li>

		<i class="fas fa-sign-out-alt fa-2x"></i>
		<li class="nav-item">
		  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-link" 'btn btn-danger rounded-pill btn-lg my-1 mb-5 px-5' %>
		</li>

	  <% else %>
	    <i class="fas fa-user-plus fa-2x"></i>
		<li class="nav-item">
		<%= link_to '新規登録', new_user_registration_path , class: "nav-link" %>
		</li>
		<i class="fas fa-sign-in-alt fa-2x"></i>
		<li class="nav-item">
		<%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
		</li>
	  <% end %>
	</ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>